/* Representa todo el documento HTML */
:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    color: var(--just-white);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    /* centra un elmento que tenga un contenedor con disply-flex */
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    /* 24px */
    font-weight: bold;
    line-height: 2.6rem;
    /* 26px dimensión de altura - salto de linea */
    color: var(--just-white);
}

.header--title-container p {
    font-size: 1.4rem;
    /* 14px */
    font-weight: 500;
    line-height: 1.8rem;
    /* 28px dimensión de altura - salto de linea */
    margin-top: 25px;
    color: var(--soft-orange);
    opacity: 0.8;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114px);
    top: 270px;
    display: block;
    margin-top: 45px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);

    /* SOMBRAS */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); 
    /* sobrepone el botón a la siguiente sección */
    border: none; 
    /* en caso de que exita otro borde definido */
    border-radius: 5px;

    font-size: 1.4rem;
    /* 16px */
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/arrowDown.svg");
    background-repeat: no-repeat; /* evita que se repita */
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    color: var(--black);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/imgs/bitCoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    font-size: 1.4rem; /* 14px */
    line-height: 1.6rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 30px;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto; 
    /* no margen arriba/abajo -  calcula para que quede en el centro izq/der */
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;    
}

.currency-table--container .table_bottom-left {
    border-radius: 0 0 0 15px;    
}

.currency-table--container .table_bottom-right {
    border-radius: 0 0 15px 0;    
}

.currency-table--container .table__right{
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: normal;
}

.currency-table--container .down { 
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-image: url("./assets/icons/trendingDown.svg");
    background-size: cover; 
    /* La imagen se estira para cubrir toda el área donde está puesta */
    background-repeat: no-repeat;
    background-position: center;
}

.currency-table--container .up { 
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-image: url("./assets/icons/trendingUp.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.currency-table--date {
    width: 200px;
    margin: 15px auto 0;
    padding: 8px 16px;   /* compacto de verdad */
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table--date p {
    margin: 0;          /* esto evita que el <p> empuje hacia abajo */
    font-size: 1.2rem;
    line-height: 1.2rem; /* evita que la línea sea alta */
    color: var(--warm-blackblack);
}
